<script id="photo-template" type="text/x-handlebars-template">

  <div class="photo">

    <div class="file-name">
      <h3><%= link_to "{{filename_identifier}}", "{{photo_url}}" %></h3>
    </div>
    <div class="info">
      <div class="remove btn">
        <i class="icon-remove-sign"></i>
        remove
      </div>
    </div>

    <div class="thumb">
      <%= link_to "{{photo_url}}" do %>
        <img src='{{url}}' />
      <% end %>
    </div>


    <div class="photo-form">
      <%= label_tag "Title" %>
      <%= text_field_tag "title" %>
      <%= label_tag "Source" %>
      <%= select_tag "source", options_for_select([['Getty', 'getty'], ['iStock Photo', 'istock']]) %>
    </div>

    <div class="photo-form">
      <%= label_tag "Tag List" %>
      <%= text_field_tag "tag_list" %>
      <%= label_tag "Usage Right File" %>

      <div class="uploader-button">
        <div id="uploader" class="uploader btn ">
          <i class="icon-upload icon-white"></i> Upload file
        </div>
      </div>
    </div>

    <div class="server-status"></div>

  </div>

</script>
