

<div class="photo-show">

  <div class="image">
    <%= image_tag @photo.filename.url %>
    
    <br/>
    <div class="title"><h5><%= link_to @photo.title, @photo.filename.url %></h5></div>
  </div>
  <div class="photo-info">
    <div class="photo-user">
      Uploaded By Ross Nelson
      <br />
      ross_nelson
    </div>
    <div class="dates">
      This photo was uploaded <%= @photo.created_at.strftime('%y-%m-%d') %> 
    </div>
    <% unless @photo.similar.blank? %>
      <div class="similar-photos">
        <div class="title">Similar Photos</div>

        <% @photo.similar.each do |photo| %>
          <%= link_to image_tag(photo.filename.url(:thumb)), photo %>
        <% end %>
      </div>
    <% end %>

    <div class="tags">
      <div class="title">Tags</div>
      <ul class="available-tags token-input-list-facebook">
        <% @photo.tag_list.each do |tag| %>
          <li class="token-input-token-facebook">
            <p><%= link_to tag[:name], tag_path(tag[:id]) %></p><i class="icon-tag"></i>
          </li> 
        <% end %>
      </ul>
      
    </div>
    <div class="comments">
      <div class="title">Comments</div>
      <p>
        <%= raw @photo.comments %>
      </p>
    </div>

    <div class="usage-rights">
      <div class="title">Usage Rights </div>
      <%= @photo.source %>
    </div>


    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  photos_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_photo_path(@photo), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  photo_path(@photo),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
  </div>

</div>
